{% extends "base\base.html" %}

{% block content %}
<div class="container">

<a href="{% url 'vehicle_insert' %}" class="btn btn-outline-success">
    <i class="fas fa-plus"></i> Add New
</a>
<br><br>
<table class="table table-success table-striped">
    <thead class="table-dark">
        <tr>
            <td style="text-align: center;">Vehicle Type</td>
            <td style="text-align: center;">Vehicle Model</td>
            <td style="text-align: center;">Vehicle Number</td>
            <td style="text-align: center;">Owner Name</td>
            <td style="text-align: center;"> </td>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicle_list %}
            <tr>
            <td style="text-align: center;">{{vehicle.vehicle_type}}</td>
            <td style="text-align: center;">{{vehicle.vehicle_model}}</td>
            <td style="text-align: center;">{{vehicle.vehicle_no}}</td>
            <td style="text-align: center;">{{vehicle.owner_name}}</td>
            <td style="text-align: center;">
                <a href="{% url 'vehicle_update' vehicle.id %}" class="btn text-secondary px-0">
                    <i class="fa fa-edit fa-lg">
                        
                    </i>
                </a>
                <form action="{% url 'vehicle_delete' vehicle.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock content %}