{% extends "base\base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="map" style="display: grid; grid-template-columns: 1fr 1fr; align-items: center; justify-content: center; margin: 0 auto; padding:0 50px;">
<div 
    id="map-canvas" style="width: 750px; height: 500px;">
</div>
<div style="padding: 0 70px;">
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
_____ User List _____
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">User 1</a>
      <a class="dropdown-item" href="#">User 2</a>
      <a class="dropdown-item" href="#">User 3</a>
    </div>
  </div>
  <br>
  <h5 style="text-align:center">Location</h5>
  <ul class="list-group">
    <li class="list-group-item">Kandy</li>
    <li class="list-group-item">colombo</li>
    <li class="list-group-item">pitipana</li>
    <li class="list-group-item">homagama</li>
    <li class="list-group-item">polgahawela</li>
    <li class="list-group-item">kegalle</li>
    <li class="list-group-item">kurunegala</li>
  </ul>
</div>
</div>

{% endblock content %}