{% extends "\home\ubuntu\backend\templates\base\base.html" %}


{% block content %}

<div class="container">
<!-- <a href="{% url 'complain_insert' %}" class="btn btn-outline-danger">
    <i class="fas fa-plus"></i> Add New Complain
</a> -->
<br><br>

<center><h3>Complains</h3></center><hr><br><br>

{% for complain in complain_list %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ complain.email }}</h5>
        <small><i><b>request id {{ complain.req_id }}</b></i></small>
      </div>
      <p class="mb-1">{{ complain.detail}}</p>
    </a>
    <br>
  </div>
  

  {% endfor %}
</div>
{% endblock content %}
