{% extends "base\base.html" %}

{% block content %}

<a href="{% url 'user_insert' %}" class="btn btn-outline-success">
    <i class="fas fa-plus"></i> Add New
</a>
<br><br>

<table class="table table-success table-striped">
    <thead class="table-dark">
        <tr class>
            <td style="text-align: center;">User ID</td>
            <td style="text-align: center;">Username</td>
            <td style="text-align: center;">Mobile no</td>
            <td style="text-align: center;">NIC</td>
            <td style="text-align: center;">Address</td>
            <td style="text-align: center;"> </td>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
            <td style="text-align: center;">{{user.id}}</td>
            <td style="text-align: center;">{{user.username}}</td>
            <td style="text-align: center;">{{user.mobile_no}}</td>
            <td style="text-align: center;">{{user.nic}}</td>
            <td style="text-align: center;">{{user.address}}</td>
            <td>
                <a href="{% url 'user_update' user.id %}" class="btn text-secondary px-0">
                    <i class="fa fa-edit fa-lg">
                        
                    </i>
                </a>
                <form action="{% url 'user_delete' user.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}