{% extends "base\base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Admin Panel
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-3"> Statisitics {{ date }}</h3>
                    </marquee>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dashboard Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'user_list' %}">
                                <div class="card text-center p-3">
                                    <h4>
                                        Users
                                        <i class="fas fa-users"></i>
                                    </h4>
                                    <h3>
                                        {{ a }}
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'vehicle_list' %}">
                                <div class="card text-center p-3">
                                    <h4>
                                        Vehicles
                                        <i class="fa fa-truck me-2"></i>
                                    </h4>
                                    <h3>
                                         {{vehicle_count}}
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="">
                                <div class="card text-center p-3">
                                    <h4>
                                        Requests
                                        <i class="fas fa-shipping-fast"></i>
                                    </h4>
                                    <h3>
                                        20
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>







<!-- Chart Start -->

<div class="row mt-5 d-flex justify-content-xs-between">
    <div class="col-md-4">
        <br>
        <h3>User Registrations</h3>
        <canvas id="myChartx" width="400" height="400"></canvas>
                    <script>
                    const ctl = document.getElementById('myChartx').getContext('2d');
                    const myChartx = new Chart(ctl, {
                        type: 'line',
                        data: {
                            labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                            datasets: [{
                                label: 'no of user registrations',
                                data: [5, 3, 5, 7, 10, 12,14],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>
    </div>

    <div class="col-md-4">
        <br>
        <h4>Number of Garbage requests</h4>
        <canvas id="myChart" width="400" height="400"></canvas>
                    <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                            datasets: [{
                                label: 'garbage request',
                                data: [5, 3, 5, 7, 10, 12,15],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>
    </div>
    <div class="col-md-4">
        <br>
        <h4>Garbage collected details</h4>
        <canvas id="myChart3" width="400" height="400"></canvas>
                    <script>
                    const ctz = document.getElementById('myChart3').getContext('2d');
                    const myChart3 = new Chart(ctz, {
                        type: 'doughnut',
                        data: {
                            labels: ['Garbage Request', 'Collected Garbage Request'],
                            datasets: [{
                                label: 'garbage request',
                                data: [5, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>
    </div>
</div>



<!-- Chart End -->
{% endblock content %}